# OS X
**/.DS_Store*
**/Icon?
# **/._*

  

# Windows
**/Thumbs.db
**/ehthumbs.db
**/Desktop.ini

  

# Linux
**/.directory
**/*~

  

# npm
node_modules
package-lock.json
*.gz

#logs
logs/
**/*.log
**/*.logs
#logs/
**/*.logs.*


#vscode
.vs_code/


#config
.env
sqitch.conf

  
#test
coverage/